In [1]:
import pandas as pd

In [3]:
path= "Resources/Beach_Lab_Data.csv"
df = pd.read_csv(path)
df

,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Note,Culture Sample Interval,Culture Sample 2 Timestamp,Latitude,Longitude,Location
0,NaN,NaN,NaN,NaN,NaN,NaN,107973.0,08/15/2013 12:00:00 AM,231.0,248.0,239.3,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,93598.0,08/27/2014 12:00:00 AM,12.0,4.0,6.9,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,108593.0,07/05/2012 12:00:00 AM,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10601.0,06/03/2019 12:08:00 PM,63rd Street,15.0,121.0,42.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.78270,-87.574800,"(41.7827, -87.5748)"
4,10600.0,06/03/2019 12:08:00 PM,South Shore,1006.0,16.0,126.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.76890,-87.563600,"(41.7689, -87.5636)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25275,15383.0,07/24/2021 11:13:00 AM,Calumet,440.0,NaN,440.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.71420,-87.529900,"(41.7142, -87.5299)"
25276,15419.0,07/24/2021 11:16:00 AM,Leone,44.0,NaN,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.01310,-87.663500,"(42.0131, -87.6635)"
25277,15418.0,07/24/2021 11:16:00 AM,Hartigan (Albion),26.0,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.00270,-87.656400,"(42.0027, -87.6564)"
25278,15392.0,07/24/2021 11:15:00 AM,Oak Street,193.0,NaN,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.90320,-87.623500,"(41.9032, -87.6235)"
25279,15413.0,07/24/2021 11:15:00 AM,Humboldt,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.90643,-87.703717,"(41.90643, -87.703717)"

In [18]:
big = df.groupby(['Beach']).size()
big.sort_values(ascending=False)

Beach
Calumet                           1276
Montrose                          1249
63rd Street                       1233
Rainbow                           1229
South Shore                       1216
Ohio Street                       1215
12th Street                       1210
57th Street                       1189
North Avenue                      1189
Osterman                          1182
Foster                            1177
Oak Street                        1162
Howard                            1094
Rogers                            1077
Leone                              954
Oakwood                            950
Margaret T Burroughs               833
Hartigan                           794
Juneway                            789
Marion Mahony Griffin              728
Montrose Dog                       440
Margaret T Burroughs (31st)        430
Hartigan (Albion)                  364
Marion Mahony Griffin (Jarvis)     361
Humboldt                           354
North Shore                        287
Lane                               287
Columbia                           286
Loyola                             251
Fargo                               98
dtype: int64

In [21]:
df.dtypes

DNA Test ID                   float64
DNA Sample Timestamp           object
Beach                          object
DNA Sample 1 Reading          float64
DNA Sample 2 Reading          float64
DNA Reading Mean              float64
Culture Test ID               float64
Culture Sample 1 Timestamp     object
Culture Sample 1 Reading      float64
Culture Sample 2 Reading      float64
Culture Reading Mean          float64
Culture Note                  float64
Culture Sample Interval       float64
Culture Sample 2 Timestamp     object
Latitude                      float64
Longitude                     float64
Location                       object
dtype: object

In [29]:
df['DNA Sample Timestamp']= pd.to_datetime(df['DNA Sample Timestamp'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 20-07-08 00:00:00