In [13]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime

In [14]:
df = pd.read_csv('../Resources/Beach_Lab_Data.csv')

In [15]:
df['Beach'].value_counts()

Calumet                           1276
Montrose                          1249
63rd Street                       1233
Rainbow                           1229
South Shore                       1216
Ohio Street                       1215
12th Street                       1210
North Avenue                      1189
57th Street                       1189
Osterman                          1182
Foster                            1177
Oak Street                        1162
Howard                            1094
Rogers                            1077
Leone                              954
Oakwood                            950
Margaret T Burroughs               833
Hartigan                           794
Juneway                            789
Marion Mahony Griffin              728
Montrose Dog                       440
Margaret T Burroughs (31st)        430
Hartigan (Albion)                  364
Marion Mahony Griffin (Jarvis)     361
Humboldt                           354
Lane                               287
North Shore                        287
Columbia                           286
Loyola                             251
Fargo                               98
Name: Beach, dtype: int64

In [16]:
only_12th_street = df.loc[df["Beach"] == "12th Street", :]

In [17]:
only_12th_street_clean = only_12th_street[only_12th_street['Culture Reading Mean'].notna()]

In [18]:
only_12th_street_clean = only_12th_street_clean.drop(columns=['DNA Test ID','DNA Sample Timestamp','DNA Sample 1 Reading','DNA Sample 2 Reading','DNA Reading Mean'])

In [19]:
only_12th_street_clean['Sample1_Month_Year'] = pd.to_datetime(only_12th_street_clean['Culture Sample 1 Timestamp']).dt.to_period('M')

In [20]:
only_12th_street_clean['Sample2_Month_Year'] = pd.to_datetime(only_12th_street_clean['Culture Sample 2 Timestamp']).dt.to_period('M')

In [22]:
only_12th_street_clean.sort_values('Sample1_Month_Year',ascending=False)

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Note,Culture Sample Interval,Culture Sample 2 Timestamp,Latitude,Longitude,Location,Sample1_Month_Year,Sample2_Month_Year
5635,12th Street,114093.0,09/01/2016 09:05:00 AM,41.0,43.0,42.0,NaN,2.0,09/01/2016 09:07:00 AM,41.8638,-87.6083,"(41.8638, -87.6083)",2016-09,2016-09
6597,12th Street,114115.0,09/02/2016 08:10:00 AM,20.0,32.0,25.3,NaN,1.0,09/02/2016 08:11:00 AM,41.8638,-87.6083,"(41.8638, -87.6083)",2016-09,2016-09
16181,12th Street,113701.0,08/06/2016 09:00:00 AM,38.0,37.0,37.5,NaN,1.0,08/06/2016 09:01:00 AM,41.8638,-87.6083,"(41.8638, -87.6083)",2016-08,2016-08
6925,12th Street,113734.0,08/10/2016 07:28:00 AM,9.0,104.0,30.6,NaN,1.0,08/10/2016 07:29:00 AM,41.8638,-87.6083,"(41.8638, -87.6083)",2016-08,2016-08
9878,12th Street,113890.0,08/18/2016 08:06:00 AM,35.0,51.0,42.2,NaN,1.0,08/18/2016 08:07:00 AM,41.8638,-87.6083,"(41.8638, -87.6083)",2016-08,2016-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17015,12th Street,102731.0,05/26/2006 12:00:00 AM,17.3,19.7,18.5,NaN,NaN,NaN,41.8638,-87.6083,"(41.8638, -87.6083)",2006-05,NaT
12616,12th Street,102683.0,05/24/2006 12:00:00 AM,3.0,2.0,2.4,NaN,NaN,NaN,41.8638,-87.6083,"(41.8638, -87.6083)",2006-05,NaT
7332,12th Street,103187.0,05/31/2006 12:00:00 AM,5.2,6.3,5.7,NaN,NaN,NaN,41.8638,-87.6083,"(41.8638, -87.6083)",2006-05,NaT
23521,12th Street,103163.0,05/30/2006 12:00:00 AM,2.1,5.2,3.3,NaN,NaN,NaN,41.8638,-87.6083,"(41.8638, -87.6083)",2006-05,NaT
7751,12th Street,102707.0,05/25/2006 12:00:00 AM,119.8,107.1,113.3,NaN,NaN,NaN,41.8638,-87.6083,"(41.8638, -87.6083)",2006-05,NaT